[Ll]ibrary/
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Eyedylic Prototype/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Eyedylic Prototype/Logs/shadercompiler-AssetImportWorker0.log
Eyedylic Prototype/Logs/AssetImportWorker4.log
Eyedylic Prototype/Logs/AssetImportWorker0.log
Eyedylic Prototype/Logs/AssetImportWorker0.log
Eyedylic Prototype/Logs/shadercompiler-AssetImportWorker0.log
Eyedylic Prototype/Logs/AssetImportWorker0.log
Eyedylic Prototype/Logs/shadercompiler-AssetImportWorker0.log
